.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.App .nameApp {
  color: grey;
}
.App .nameCity {
  color: grey;
  font-size: 36px;
}
.App .country {
  color: rgb(148, 146, 146);
}
.App .day {
  color: grey;
  font-weight: 700;
}

.App .temperatureCurrent {
  position: relative;
  bottom: 30px;
}
.App .circle {
  background: lightblue;
  border-radius: 50%;
  width: 385px;
  height: 375px;
  float: left;
  margin: 20px;
}

.App .form {
  position: relative;
  top: 40px;
  left: 30px;
}
.App .descCity {
  position: relative;
  top: 44px;
  text-align: left;
  left: 50px;
}
.App .icon {
  z-index: 100;
}
.App .weatherBubble {
  list-style: none;
}
.App .firstWeatherBubble,
.App .secondWeatherBubble,
.App .thirdWeatherBubble,
.App .fourWeatherBubble,
.App .fiveWeatherBubble {
  background: rgb(223, 241, 247);
  border-radius: 50%;
  width: 145px;
  height: 145px;
  float: left;
  margin: 20px;
  color: rgb(87, 88, 90);
}

.App .firstWeatherBubble:hover,
.App .secondWeatherBubble:hover,
.App .thirdWeatherBubble:hover,
.App .fourWeatherBubble:hover,
.App .fiveWeatherBubble:hover,
.App .circle:hover {
  color: rgb(10, 10, 10);
  transform: scale(1.1);
  z-index: 2;
}
.App .temperatures {
  padding-top: 5px;
  color: rgb(161, 119, 201);
  background-color: rgb(252, 252, 252);
  border-radius: 35%;
}

